body {
  font-family: 'Arial', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-image: url('1.jpg');
}

.container {
  text-align: center;
}

@keyframes vibrate {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px) rotate(-5deg); }
  50% { transform: translateX(5px) rotate(5deg); }
  75% { transform: translateX(-5px) rotate(-5deg); }
  100% { transform: translateX(0); }
}

.machine {
  max-width: 920px;
  position: relative;
  top : -50px 

}

.vibrating-element {
  animation: vibrate 0.5s infinite;
}

#generatedSentence {
  background-color: palevioletred;
  border: none;
  border-radius: 50px;
  margin-top: 10px;
  color: rgb(4, 5, 5);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
  font-size: 30px;
  position: relative;
  top : -50px
}

.custom-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #0871bc;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  color: rgb(255, 255, 255);
  position: relative; /* Position relative for shadow */
  overflow: hidden; /* Hide overflow */
  position: absolute; /* Change to absolute positioning */
      top: 370px; /* Adjust the distance from the top */
      left: 1200px; /* Adjust the distance from the left */
}

.custom-button::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 6px; /* Adjust the height of the shadow */
  bottom: -8px; /* Adjust the distance of the shadow from the button */
  left: 0;
  background: rgba(255, 253, 253, 0.2); /* Shadow color */
  transition: height 0.3s ease; /* Smooth transition for the height */
}

/* Hover effect for the button */
.custom-button:hover::after {
  height: 12px; /* Adjusted height on hover */
}


.custom-button:hover::after {
  height: 12px;
}
.centered-paragraph {
 
  padding: 10px 20px;
  font-size: 16px;
  
  background-image: url("4.png") ;
  
  border: none;
  border-radius: 5px;
  margin-top: 10px;
color: darkred;
  font-weight :bolder ;
  position: relative;
  top : -333px ;
  left : -730px ;


  
  
}